body{
    background-color: #cccccc;
}
#container
{
    margin: auto;
    width: 980px;
}
header
{

}
main
{
    overflow: auto;
    background-color: #808080;
    margin-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 200px;
    max-height: 500px;
}
    
footer 
{
    width: 99%;
    background-color: #808080;
    text-align: right;
    padding-right: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.contentMessage
{
    margin: 15px;
    background-color: #353535;
    color: #FFF;
    border-radius: 2px;
}
p
{
    margin: 0;
}
#msgCount p {
    
}
textarea {
    background-color:  #C0C0C0;
    height: 60px;
    width: 90%;
    color: #3F3F3F;
}
.contentMessage
{

}
.mainMessage
{
    float: left;
    width: 85%;
    word-wrap: break-word;
}
.picsMessage
{
    float: right;
    width: 15%
}
.picsMessage a img
{
    float: right;
    width: 30px;
    height: 30px;
}
.footMessage
{
    clear: both;
    text-align: right;
}
