body
{
    background-color: #C0C0C0;   
}
#container
{
    background-color: #FFF;  
    margin: auto;
    width: 1400px;
    height: 800px;
    position: relative;
    border: 8px solid black;
}
.bottomMenu
{
    bottom: 0;
    width: inherit;
    height: 70px;
    position: absolute;
    border: 1px solid;
}
.menuPicGallery
{
    bottom: 0;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 10px;
}
.galleryContainer
{
    position: absolute;
    width: 350px;
    height: 500px;
    margin: 0;
    margin-top: 150px;
    margin-left: 100px;
}
.galleryHeader
{
    width: 350px;
    height: 30px;
    background-color: green; 
    color: #C0C0C0;
}
.galleryHeaderPic
{
    width: 20px;
    height: 20px;
    float: left;
    margin: 0;
    margin-right: 3px;
    padding: 0;
}
.headerInfo
{
    margin: 0;
}
p
{
    float: left;
    margin: 0;
}
.closeGallery
{
    width: 35px;
    height: 20px;
    float: right;
    background-color: black;
    margin-right: 20px;
    text-align: center; 
}
.galleryMain
{
    width: 350px;
    height: 450px;
    background-color: red;
    overflow: auto;
}

.galleryFooter
{
    width: 350px;
    height: 20px;
    background-color: blue;  
}
.thumbdiv {
    display: inline-block;
    margin: 7px;
    padding: 7px;
    text-align: center;
    border: solid 1px #EEE;  
    background: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0, rgb(134,135,140)),
            color-stop(0.41, rgb(217,217,217)),
            color-stop(1, rgb(134,135,140))
        );
        background: -webkit-linear-gradient(
            center bottom,
            color-stop(0, rgb(134,135,140)),
            color-stop(0.41, rgb(217,217,217)),
            color-stop(1, rgb(134,135,140))
        );
        background: -moz-linear-gradient(
            center bottom,
            rgb(134,135,140) 0%,
            rgb(217,217,217) 41%,
            rgb(134,135,140) 100%
        );
        background: -o-linear-gradient(
            center bottom,
            rgb(134,135,140) 0%,
            rgb(217,217,217) 41%,
            rgb(134,135,140) 100%
        );
        -moz-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;
    box-shadow: rgba(0,0,0, 0.3) 0 0 8px; 
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
}